html
  head
    title Welcome
  body
    if username
      h1 Welcome, #{username}!
      a(href="/logout") Logout
      br
      a(href="/addArticle") Add new article
      br
    else
      h1 Welcome
      a(href="/login") Login
      br
      a(href="/register") Register
      br
    if articles
      each article in articles
        p Title: #{article.title}
        p Body: #{article.body}
        p Author: #{article.username}
        if username && username === article.username
          a(href=`/deleteArticle/${article._id}`) Delete
          br
        br
    if error
      p.error = error
